<div class="col-sm-12 text-center">
  <div class="btn-group text-left">
    <div class="text-left">
      <%= link_to "Back", admin_articles_path, class: "admin_article_back" %>
    </div>

    <br><br>

    <%= simple_form_for [:admin, @article] do |f| %>

      <%= f.input :title, label: "Article title"  %>
      <%= f.input :short_description, label: "Article description"  %>
      <%= f.input :text, :as => :ckeditor, label: "Article text", :input_html => { :ckeditor => {:toolbar => 'Full', height: 600, width: 920} } %>

      <%= f.input :document, as: :file, label: "Add PDF file" %>
      <%= f.input :pdf, label: "Article has PDF file" %>

      <%= f.input :active, label: "Publish article" %>

      <%= f.submit "Save", class: "btn btn-default btn-success" %>

    <% end %>

  </div>
</div>
