<div class="col-sm-12 no_side_padding">
  <span class="block big_title">
    Latest News
  </span>
</div>

<% articles.each_slice(2) do |slice| %>

  <div class="col-sm-12 no_side_padding padding_top_70px mobile_padding_top_0px">

    <% slice.each_with_index do |article, index| %>
      <div class="col-sm-6 <%= index.even? ? 'padding_left_0px padding_right_50px' : 'padding_left_50px padding_right_0px' %> mobile_width_100 mobile_padding_left_right_15px mobile_padding_top_50px">
        <div class="col-sm-12 no_side_padding">
          <span class="inline_block article_date">
            <span class="block article_date_day">
              <% if article.scheduled_date.day == 29 && article.scheduled_date.month == 9 && article.scheduled_date.year == 2017 %>
                <%= l(article.created_at, :format => '%d') %>
              <% else %>
                <%= l(article.scheduled_date, :format => '%d') %>
              <% end %>
            </span>
            <span class="block article_date_month_year">
              <% if article.scheduled_date.day == 29 && article.scheduled_date.month == 9 && article.scheduled_date.year == 2017 %>
                <%= l(article.created_at, :format => '%^b %Y') %>
              <% else %>
                <%= l(article.scheduled_date, :format => '%^b %Y') %>
              <% end %>
            </span>
          </span>
          <span class="inline_block article_title_list">
            <%= article.title %>
          </span>

          <div class="clearfix"></div>
        </div>

        <div class="col-sm-12 no_side_padding article_text_container padding_top_20px">
          <%= article.short_description %>
        </div>

        <div class="col-sm-12 no_side_padding padding_top_20px text-right">
          <%= link_to article_path(article), class: "article_read_more" do %>
            Read more
            <i class="fa fa-chevron-circle-right"></i>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="clearfix"></div>
  </div>

<% end %>
