<section class="article_show_block top_block_border fixed_menu_margin padding_top_50px padding_bottom_50px">
  <div class="container">
    <div class="col-sm-12 article_show_title_container">
      <span class="inline_block article_date vcenter">
        <span class="block article_date_day">
          <%= l(@article.created_at, :format => '%d') %>
        </span>
        <span class="block article_date_month_year">
          <%= l(@article.created_at, :format => '%^b %Y') %>
        </span>
      </span>

      <span class="inline_block article_title article_show_title vcenter">
        <%= @article.title %>
      </span>
    </div>

    <% if @article.pdf %>
      <div class="col-sm-12 article_document_container padding_top_30px">
        <embed src="<%= @article.document %>" width="100%" height="100%">
      </div>
    <% else %>
      <div class="col-sm-12 trocchi article_show_text padding_top_30px">
        <p>
          <%= @article.text.html_safe %>
        </p>
      </div>
    <% end %>

    <div class="col-sm-12 text-center padding_top_50px">
      <%= link_to "Back to news list", articles_path, class: "inline_block button_template transparent_button" %>
    <div>
  </div>
</section>
