<section class="home_big_cover">
  <div class="home_big_cover_overlay"></div>

  <div class="container">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8 text-center">
      <h1>We research, analyze, assess, and evaluate communication patterns and behavior</h1>
    </div>
    <div class="col-sm-2">

    </div>
  </div>
</section>

<section class="home_about_us">
  <div class="container">
    <div class="col-sm-12 text-center">
      <div class="h2 green_background_gradient trocchi">Clients</div>
    </div>

    <div class="col-sm-2"></div>
    <div class="col-sm-8 home_about_us_text">
      <span>
        Our corporate clients include Visa, PayPal, Nestlé USA, Nestlé Health Science,  Nespresso, McDonald’s, Hewlett Packard Enterprise, Sony PlayStation, and Golden State Water.
        <br><br>
        Our governmental clients include the Counties of Santa Clara and Alameda and the Cities of San Francisco, South San Francisco, and Palo Alto.
      </span>
    </div>

    <div class="col-sm-12 clients_container padding_top_thirty_px">
      
      <div class="col-sm-2 client_logo_container">
        <%= image_tag "nestle.jpg", class: "img-responsive" %>
      </div>

      <div class="col-sm-2 client_logo_container">
        <%= image_tag "nhs.png", class: "img-responsive" %>
      </div>

      <div class="col-sm-2 client_logo_container">
        <%= image_tag "nespresso.jpg", class: "img-responsive" %>
      </div>

      <div class="col-sm-3 client_logo_container">
        <%= image_tag "hp.png", class: "img-responsive" %>
      </div>

      <div class="col-sm-2 client_logo_container">
        <%= image_tag "ps.jpg", class: "img-responsive" %>
      </div>

    </div>

  </div>
</section>
