<section class="home_big_cover">
  <div class="home_big_cover_overlay"></div>

  <div class="container">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8 text-center">
      <h1>We research, analyze, assess, and evaluate communication patterns and behavior</h1>
    </div>
    <div class="col-sm-2">

    </div>
  </div>
</section>

<section class="home_about_us">
  <div class="container">
    <div class="col-sm-12 text-center">
      <div class="h2 green_background_gradient trocchi">About</div>
    </div>

    <div class="col-sm-2"></div>
    <div class="col-sm-8 home_about_us_text">
      <span>Two pioneering women with IBM Selectrics founded Adcom Designs back in 1980. We’ve helped professionals save time, improve results, and create stronger organizations ever since.</span>
    </div>
  </div>
</section>

<section class="home_about_us padding_bottom_forty_px">
  <div class="container">

    <div class="col-sm-12">
      <p class="about_us_p">
        We call the San Francisco Bay Area home, but we’ve gained experience and insight from working with a wide range of businesses across the US and Asia. Being nimble has kept our firm relevant throughout tectonic shifts in technology and the economy.
      </p>

      <p class="about_us_p">
        By focusing on communication skills, our clients build better relationships at all levels — between coworkers, clients, and customers. And that’s where we come in; we focus on ​f​ront-​end inquiry​ and assessment; ​development and delivery of​ relevant, engaging experiences and tools​; and comprehensive analysis and measurement to quantify service and program ROI.
      </p>

      <p class="about_us_p">
        Our projects range from week- or month-long assignments to cross-functional, multi-year, multi-region engagements.
      </p>

      <ul>
        <li><i class="fa fa-chevron-circle-right"></i> Organizational development</li>
        <li><i class="fa fa-chevron-circle-right"></i> Learning and training</li>
        <li><i class="fa fa-chevron-circle-right"></i> Policy and government Affairs</li>
        <li><i class="fa fa-chevron-circle-right"></i> Human resources</li>
        <li><i class="fa fa-chevron-circle-right"></i> Change management</li>
        <li><i class="fa fa-chevron-circle-right"></i> Communication and marketing</li>
        <li><i class="fa fa-chevron-circle-right"></i> Organizational advancement</li>
      </ul>
    </div>
  </div>
</section>

<section class="home_about_us">
  <div class="container">
    <div class="col-sm-12 text-center">
      <div class="h2 green_background_gradient trocchi">Team</div>
    </div>
  </div>
</section>

<section class="about_bios">
  <div class="container">
    <div class="col-sm-12 border_bottom_grey padding_bottom_forty_px">
      <a href="/about#NT">
        <div class="col-sm-3">
          <%= image_tag "NT_photo.jpg", class: "img-responsive img-circle" %>
        </div>
      </a>
      <div class="col-sm-9">
        <a href="/about#NT">
          <span class="about_bio_name">Natasha Terk</span>
          <span class="about_bio_position padding_top_ten_px">Managing Director</span>
        </a>

        <p class="padding_top_thirty_px">
          Natasha is the managing director of Adcom Designs. She improves communication skills and team dynamics through a relentless focus on each client’s business, brand, and competition. She manages the development of new systems, processes, and guidelines for things we don’t always quantify. Three recent years of consulting work in Asia inform the rigorous evaluation and metrics she offers our clients around the world.
        </p>

      </div>
    </div>
  </div>
</section>

<section class="about_bios">
  <div class="container">
    <div class="col-sm-12 padding_top_ten_px padding_bottom_forty_px">
      <a href="/about#CD">
        <div class="col-sm-3">
          <%= image_tag "CD_photo.png", class: "img-responsive img-circle" %>
        </div>
      </a>

      <div class="col-sm-9">
        <a href="/about#CD">
          <span class="about_bio_name">Christopher Disman</span>
          <span class="about_bio_position padding_top_ten_px">Manager of Content Development</span>
        </a>

        <p class="padding_top_thirty_px">
          Christopher manages Adcom’s content development; he loves language as much as he loves to craft innovative solutions for our clients. He takes the time client managers can’t spare to evaluate employees’ communication challenges. He brings an experienced eye to organizational style guides and to the firm’s instructional design, custom-tailoring our solutions to help employees’ communication skills shine.
        </p>

      </div>
    </div>

  </div>
</section>

<section class="home_about_us">
  <div class="container">
    <div class="col-sm-12 text-center">
      <div class="h2 green_background_gradient trocchi">Services</div>
    </div>

    <div class="col-sm-2"></div>
    <div class="col-sm-8 home_about_us_text">
      <span>
        We research, analyze, assess, and evaluate communication patterns and behavior; engage stakeholders; and implement interventions. We partner with our clients and maintain a laser focus on their business outcomes, brand, and culture.
        <br><br>
        We develop communication plans, strategic plans, videos, infographics, procedure manuals and policy recommendations, style guides, white papers, and much more — all to improve clients’ efficiency and effectiveness.
      </span>
    </div>

  </div>
</section>

<section class="home_about_us">
  <div class="container">
    <div class="col-sm-12 text-center">
      <div class="h2 green_background_gradient trocchi">Write It Well</div>
    </div>

    <div class="col-sm-2"></div>
    <div class="col-sm-8 home_about_us_text">
      <span>
        Write It Well is our training business. We lead workshops, webinars, coaching engagements, train-the-trainer, and blended programs. They all build or deepen measurable, job-relevant communication skills.
        <br><br>
        We also publish The Write It Well Series on Business Communication, a series of eight books available on Amazon that showcase our time-tested, proprietary methodologies.
      </span>
    </div>
  </div>
</section>

<section class="home_about_us">
  <div class="container">
    <div class="col-sm-12 text-center">
      <div class="h2 green_background_gradient trocchi">Clients</div>
    </div>

    <div class="col-sm-2"></div>
    <div class="col-sm-8 home_about_us_text">
      <span>
        Our corporate clients include Visa, PayPal, Nestlé USA, Nestlé Health Science,  Nespresso, McDonald’s, Hewlett Packard Enterprise, Sony PlayStation, and Golden State Water.
        <br><br>
        Our governmental clients include the Counties of Santa Clara and Alameda and the Cities of San Francisco, South San Francisco, and Palo Alto.
      </span>
    </div>

    <div class="col-sm-12 clients_container padding_top_thirty_px">

      <div class="col-sm-2 client_logo_container">
        <%= image_tag "nestle.jpg", class: "img-responsive" %>
      </div>

      <div class="col-sm-2 client_logo_container">
        <%= image_tag "nhs.png", class: "img-responsive" %>
      </div>

      <div class="col-sm-2 client_logo_container">
        <%= image_tag "nespresso.jpg", class: "img-responsive" %>
      </div>

      <div class="col-sm-3 client_logo_container">
        <%= image_tag "hp.png", class: "img-responsive" %>
      </div>

      <div class="col-sm-2 client_logo_container">
        <%= image_tag "ps.jpg", class: "img-responsive" %>
      </div>

    </div>

  </div>
</section>

<% if @article %>
  <section class="article_container padding_bottom_forty_px trocchi">
    <div class="container">
      <div class="col-sm-12 text-center">
        <div class="h2 green_background_gradient">News</div>
      </div>

      <div class="col-sm-12 h4 article_text margin_top_twenty_px">
        <%= l(@article.created_at, :format => '%d %B %Y') %>
      </div>

      <div class="col-sm-12 h3 article_text margin_top_zero_px">
        <%= @article.title %>
      </div>

      <div class="col-sm-12 trocchi article_text">
        <p>
          <%= @article.short_description %>

          <%= link_to "Read more...", article_path(@article), class: "green_text" %>
        </p>

        <div class="text-center margin_top_thirty_px">
          <div class="btn-group">
            <%= link_to "See all", articles_path, class: "see_all_button green_background" %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<section>
  <div class="container">
    <div class="col-sm-12 text-center">
      <div class="h2 green_background_gradient trocchi">Contact</div>
    </div>

    <div class="col-sm-12 padding_top_thirty_px">

      <%= form_for @message, :url => message_path do |f| %>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="message_name">Name*</label>
            <input type="text" name="message[name]" class="form-control" id="message_name">
          </div>
          <div class="form-group">
            <label for="message_email">Email address*</label>
            <input type="email" name="message[email]" class="form-control" id="message_email">
          </div>
          <div class="form-group">
            <label for="message_phone">Phone number</label>
            <input type="text" name="message[phone]" class="form-control" id="message_phone">
          </div>
          <div class="form-group">
            <label for="message_company">Company</label>
            <input type="text" name="message[company]" class="form-control" id="message_company">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="message_title">Title/role</label>
            <input type="text" name="message[title]" class="form-control" id="message_title">
          </div>
          <div class="form-group">
            <label for="message_info">How did you find Advanced Communication Designs?</label>
            <input type="text" name="message[info]" class="form-control" id="message_info">
          </div>
          <div class="form-group">
            <label for="message_message">Your question*</label>
            <textarea class="form-control" rows="5" name="message[message]" id="message_message" style="height: 110px;"></textarea>
          </div>
          <button type="submit" class="pull-right send_message_submit see_all_button
green_background">Send</button>
        </div>
      <% end %>

    </div>
  </div>
</section>

<section class="home_about_us">
  <div class="container">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 home_about_us_text font_size_21">
      <span>
        We have offices in the San Francisco Bay Area, and we’d love to hear from you.
        <br>
        <br>
        <div class="text-center">
          You can reach us at
          <br>
          <i class="fa fa-phone green_text"></i> (510) 655-6477
        </div>
      </span>
    </div>
  </div>
</section>
