<section class="top_full_block">
  <div class="top_block_overlay"></div>

  <div class="container animated fadeInUp">
    <div class="col-sm-12 no_side_padding top_title padding_top_50px">
      Improve your business
    </div>

    <div class="col-sm-12 no_side_padding top_sub_title">
      Increase sales, save time and money, and become the strategic partner that your business needs.
    </div>

    <div class="col-sm-12 text-center padding_top_30px top_btns_container">
      <a href="#first-section" class="inline_block vcenter button_template black_buttton margin_top_10px">
        Learn more
      </a>

      <a href="#contact_us" class="inline_block vcenter button_template transparent_button margin_left_10px margin_top_10px">
        Contact Us
      </a>

      <a href="" class="inline_block vcenter button_template black_buttton margin_left_10px margin_top_10px" data-toggle="modal" data-target="#newsModal">
        Newsletter
      </a>
    </div>

  </div>

  <span class="hero-down-arrow">
    <a href="#first-section"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
  </span>
</section>

<section id="first-section" class="padding_top_70px padding_bottom_70px mobile_padding_top_30px mobile_padding_bottom_30px">
  <div class="container">
    <div class="col-sm-12 who_we_are_container padding_top_40px padding_bottom_50px no_side_padding mobile_block">
      <div class="col-sm-6 padding_left_0px padding_right_100px mobile_width_100 mobile_padding_left_right_15px mobile_padding_top_0px">
        <span class="block text-right mobile_text_center">
          <%= image_tag("profile_pic.jpg", class: "about_us_nt_photo") %>
        </span>
        <span class="block who_we_are_quotation padding_top_50px">
          <span class="playfair who_we_are_quotes">“</span> Two pioneering women founded Adcom Designs back in 1980.
        </span>

        <span class="block who_we_are_name padding_top_20px">
          Natasha Terk
        </span>
      </div>

      <div class="col-sm-6 mobile_width_100 mobile_padding_top_50px">
        <span class="block big_title who_we_are_title">
          Who we are
        </span>

        <span class="block padding_top_30px mobile_padding_top_20px">
          <%= image_tag("divide.png") %>
        </span>

        <span class="block who_we_are_text_container padding_top_20px mobile_padding_top_10px">
          <p>
            Natasha is the managing director of Adcom Designs. She improves communication skills and team dynamics through a relentless focus on each client’s business, brand, and competition. She manages the development of new systems, processes, and guidelines for things we don’t always quantify. Three recent years of consulting work in Asia inform the rigorous evaluation and metrics she offers our clients around the world.
          </p>

          <p>
            Over the past 14 years, Natasha has developed and delivered 972 workshops and 324 webinars, written seven books in the Write It Well Series on Business Communication, and engaged in strategic communication consulting assignments with 212 clients including Hewlett Packard Enterprise, Nestlé Health Science, Haas Business School, Bank of America Merrill Lynch, Booz Allen, the Federal Reserve Bank of San Francisco, Shakti Foundation, Climateworks Foundation, McDonald's, Mondelēz, the Packard Foundation, California Public Utilities Commission, the Federal Reserve Bank, the City of Palo Alto, and Visa.
          </p>
        </span>
      </div>
    </div>
  </div>
</section>

<section class="adcom_wiw_block mobile_padding_top_50px mobile_padding_bottom_50px">
  <div class="white_overlay"></div>

  <div class="col-sm-12 no_side_padding">

    <div class="col-sm-6 justify_center mobile_width_100 mobile_block">

      <div class="white_box adcom_block mobile_margin_top_0px mobile_padding_left_right_15px mobile_padding_top_20px mobile_padding_bottom_30px padding_top_50px padding_bottom_50px">
        <div class="">
          <div class="col-sm-12 no_side_padding">
            <div class="col-sm-12">
              <span class="block text-center"><i class="fa fa-line-chart font_size_50px mobile_font_size_40px" aria-hidden="true"></i></span>
              <span class="block portfolio_item_name text-center padding_top_30px mobile_padding_top_10px">AdCom Designs</span>
            </div>

            <div class="col-sm-12 padding_top_30px mobile_padding_top_10px">
              <span class="block who_we_are_text_container">
                <p class="mobile_margin_top_0px">
                  We research, analyze, assess, and evaluate communication patterns and behavior; engage stakeholders; and implement interventions. We partner with our clients and maintain a laser focus on their business outcomes, brand, and culture.
                </p>

                <p>
                  We develop communication plans, strategic plans, videos, infographics, procedure manuals and policy recommendations, style guides, white papers, and much more — all to improve clients’ efficiency and effectiveness.
                </p>
              </span>

              <span class="block text-center padding_top_50px mobile_padding_top_20px">
                <%= link_to "Learn more", adcomdesigns_path, class: "inline_block button_template transparent_button" %>
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-6 justify_center mobile_width_100 mobile_margin_top_30px mobile_block">
      <div class="white_box wiw_block mobile_padding_left_right_15px padding_top_50px padding_bottom_50px mobile_padding_top_20px mobile_padding_bottom_30px">
        <div class="">
          <div class="col-sm-12 no_side_padding">
            <div class="col-sm-12">
              <span class="block text-center"><i class="fa fa-pencil-square-o font_size_50px mobile_font_size_40px" aria-hidden="true"></i></span>
              <span class="block portfolio_item_name text-center padding_top_30px mobile_padding_top_10px">Write it Well</span>
            </div>

            <div class="col-sm-12 padding_top_30px mobile_padding_top_10px">
              <span class="block who_we_are_text_container">
                <p class="mobile_margin_top_0px">
                  Write It Well is our training business. We lead workshops, webinars, coaching engagements, train-the-trainer, and blended programs. They all build or deepen measurable, job-relevant communication skills.
                </p>

                <p>
                  We also publish The Write It Well Series on Business Communication, a series of eight books available on Amazon that showcase our time-tested, proprietary methodologies.
                </p>
              </span>

              <span class="block text-center padding_top_50px mobile_padding_top_20px">
                <%= link_to "Learn more", write_it_well_path, class: "inline_block button_template transparent_button" %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="clearfix"></div>
</section>

<section class="who_we_are_video_block">
  <div class="socials_block_overlay"></div>

  <div class="container">
    <div class="col-sm-12 no_side_padding">
      <span class="block big_title white_text">Who We Are</span>

      <span class="block text-center who_we_are_video_block_subtitle padding_top_20px white_text">
        Click below to watch our video
      </span>

      <span class="block text-center padding_top_50px">
        <a href="" id="video_modal_opener" class="inline_block button_template white_buttton who_we_are_video_block_button" data-toggle="modal" data-target="#videoModal">
          Watch Video
        </a>
      </span>
    </div>
  </div>
</section>

<section class="padding_top_70px padding_bottom_90px">
  <div class="container">
    <div class="col-sm-12 no_side_padding padding_bottom_50px">
      <span class="block big_title">
        Get to Know Our Offerings
      </span>

      <span class="block text-center testimonial_subtitle padding_top_20px">
        We have a variety of in-person, virtual and text materials we can use to help you accomplish your learning goals.
      </span>

      <span class="block text-center padding_top_30px">
        <%= link_to "Learn More", write_it_well_path, class: "inline_block button_template transparent_button" %>
      </span>

      <span class="block text-center testimonial_subtitle padding_top_50px">
         Download our one-page overview of our courses and materials.
      </span>

      <span class="block text-center padding_top_30px">
        <%= link_to "Download", @courses_pdf.main_pdf.url, class: "inline_block button_template transparent_button" %>
      </span>
    </div>
  </div>
</section>

<section class="padding_top_70px padding_bottom_90px top_block_border">
  <div class="container">
    <div class="col-sm-12 no_side_padding padding_bottom_50px">
      <span class="block big_title">
        Explore our topics
      </span>

      <span class="block text-center testimonial_subtitle padding_top_20px">
        They all build or deepen measurable, job-relevant communication skills.
      </span>

      <span class="block text-center testimonial_subtitle padding_top_30px">
        Download our handy, at-a-glance guide to all of our courses and materials
      </span>

      <span class="block text-center padding_top_30px">
        <%= link_to "Download", @courses_pdf.main_pdf.url, class: "inline_block button_template transparent_button" %>
      </span>
    </div>

    <% @courses.each_slice(2) do |slice| %>
      <div class="col-sm-12 main_courses_container">
        <% slice.each_with_index do |course, index| %>
          <div class="col-sm-6 course_container <%= index.even? ? 'even_course_container' : 'odd_course_container' %>">
            <div class="col-sm-12 course_container_inner course_to_contacts">
              <% if course.icon.present? %>
                <div class="col-sm-12 no_side_padding course_image_container">
                  <%= image_tag course.icon.url, class: "" %>
                </div>
              <% end %>

              <div class="col-sm-12 no_side_padding">
                <span class="block course_name">
                  <%= course.title %>
                </span>

                <span class="block course_desc">
                  <%= course.description %>
                </span>
              </div>

              <div class="col-sm-12 no_side_padding">
                <span class="inline_block course_three_block">
                  <span class="block course_three_block_name">Write It Well Book</span>
                  <span class="block">
                    <% if course.book_link.empty? %>
                      <%= course.book %>
                    <% else %>
                      <%= link_to course.book, course.book_link, class: "course_book_link" %>
                    <% end %>
                  </span>
                </span>

                <span class="inline_block course_three_block">
                  <span class="block course_three_block_name">Onsite</span>
                  <span class="block">
                    <%= course.onsite %>
                  </span>
                </span>

                <span class="inline_block course_three_block">
                  <span class="block course_three_block_name">Webinar</span>
                  <span class="block">
                    <%= course.webinar %>
                  </span>
                </span>

                <% if course.pdf.present? %>
                  <span class="inline_block course_three_block">
                    <span class="block course_three_block_name">PDF</span>
                    <span class="block course_three_block_text">
                      <%= link_to "Download our course brochure (PDF)", course.pdf.url, target: "_blank", class: "course_book_link" %>
                    </span>
                  </span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="col-sm-12 no_side_padding padding_top_50px mobile_padding_top_30px">
      <span class="block text-center testimonial_subtitle padding_top_20px">
        All workshops are customized, please drop us a line!
      </span>

      <span class="block text-center padding_top_40px">
        <a href="#contact_us" class="inline_block button_template transparent_button">
          Get in Touch
        </a>
      </span>
    </div>
  </div>
</section>

<section id="portfolio" class="padding_top_70px padding_bottom_70px top_block_border">
  <div class="container">
    <div class="col-sm-12 no_side_padding padding_bottom_70px">
      <span class="block big_title">Case Studies</span>

      <span class="block text-center socials_block_subtitle padding_top_20px">
         We deliver a return on our clients' investment​​
      </span>
    </div>
  </div>

  <div class="portfolio_slider">

    <% @clients.each do |client| %>
      <div class="portolio_item_container no_side_padding">
        <div class="col-sm-3">
          <span class="block portolio_item_logo">
            <%= image_tag client.work_image.url, class: "img-responsive portfolio_logo center_image" %>
          </span>
        </div>

        <div class="col-sm-9 small_mobile_padding_top_30px">
          <span class="block portfolio_item_name"><%= client.title %></span>

          <span class="block portfolio_item_short_desc"><%= client.department %></span>

          <span class="block portfolio_item_long_desc">
            <%= client.description.html_safe %>
          </span>
        </div>
      </div>
    <% end %>

  </div>

  <div class="container">

    <div class="col-sm-12 no_side_padding padding_top_20px show_on_desktop">
      <ul class="list-inline zero_margin zero_padding text-center clients_logos_list portfolio_logos_list">
        <li>
          <%= image_tag "nhs.png", class: "img-responsive clients_logo portfolio_logo mobile_max_height_80px" %>
        </li>

        <li>
          <%= image_tag "nespresso.jpg", class: "img-responsive clients_logo portfolio_logo mobile_max_height_80px" %>
        </li>

        <li>
          <%= image_tag "hp.png", class: "img-responsive clients_logo portfolio_logo mobile_max_height_80px" %>
        </li>
      </ul>
    </div>

  </div>
</section>

<section class="socials_block mobile_padding_top_30px mobile_padding_bottom_30px">
  <div class="socials_block_overlay"></div>

  <div class="container">
    <div class="col-sm-12 no_side_padding">
      <span class="block big_title white_text">Stay Connected</span>

      <span class="block text-center socials_block_subtitle padding_top_20px white_text">
        Please complete this form if you'd like more information, would like to have a conversation, or see physical or digital copies of our training materials
      </span>
    </div>

    <div class="col-sm-12 no_side_padding padding_top_100px mobile_padding_top_30px">
      <div class="col-sm-4 social_block_link_container">
        <a href="https://twitter.com/adcomdesigns" class="social_block_link">
          <span class="block">
            <i class="fa fa-twitter social_block_icon"></i>
          </span>

          <span class="block padding_top_20px social_block_link_text">Twitter</span>

          <span class="block padding_top_5px social_block_link_bottom_text">Follow us on Twitter</span>
        </a>
      </div>

      <div class="col-sm-4 social_block_link_container mobile_padding_top_30px">
        <a href="https://www.facebook.com/Write-It-Well-358873115431/" class="social_block_link">
          <span class="block">
            <i class="fa fa-facebook social_block_icon"></i>
          </span>

          <span class="block padding_top_20px social_block_link_text">Facebook</span>

          <span class="block padding_top_5px social_block_link_bottom_text">Join the Conversation</span>
        </a>
      </div>

      <div class="col-sm-4 social_block_link_container mobile_padding_top_30px">
        <a href="https://www.youtube.com/watch?v=ARKBmV_WND0" class="social_block_link">
          <span class="block">
            <i class="fa fa-youtube social_block_icon"></i>
          </span>

          <span class="block padding_top_20px social_block_link_text">Youtube</span>

          <span class="block padding_top_5px social_block_link_bottom_text">View Exclusive Videos</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="padding_top_50px padding_bottom_70px">
  <div class="container">
    <div class="col-sm-12 no_side_padding padding_bottom_50px">
      <span class="block big_title">
        Happy Clients
      </span>

      <span class="block text-center testimonial_subtitle padding_top_20px">
        The comments below are just a sample of our clients worldwide <br> who transformed their business with AdCom.
      </span>
    </div>

    <div class="testimonial_slider pull-left no_side_padding">

      <% @testimonials.each do |testimonial| %>
        <div class="slider_item">

          <span class="block slider_item_image_container">
            <%= image_tag(testimonial.client_image.url(:medium), class: "slider_item_image center_image") %>
          </span>

          <span class="block slider_item_text padding_top_30px">
            <%= testimonial.review_text.html_safe %>
          </span>

          <span class="block slider_item_name padding_top_20px">
            <%= testimonial.full_name %>
          </span>

          <span class="block slider_item_company padding_top_5px">
            <%= testimonial.client_title %>
          </span>

        </div>
      <% end %>

    </div>

    <!-- <div class="col-sm-12 no_side_padding padding_top_70px">
      <ul class="list-inline zero_margin zero_padding text-center clients_logos_list">
        <li>
          <%= image_tag "nestle.jpg", class: "img-responsive clients_logo" %>
        </li>

        <li>
          <%= image_tag "nhs.png", class: "img-responsive clients_logo" %>
        </li>

        <li>
          <%= image_tag "nespresso.jpg", class: "img-responsive clients_logo" %>
        </li>

        <li>
          <%= image_tag "hp.png", class: "img-responsive clients_logo" %>
        </li>

        <li>
          <%= image_tag "ps.jpg", class: "img-responsive clients_logo" %>
        </li>
      </ul>
    </div> -->
  </div>
</section>

<section class="news_section padding_top_50px padding_bottom_70px top_block_border">
  <div class="container">

    <%= render 'articles/article_list', articles: @articles %>

    <div class="col-sm-12 text-center padding_top_50px">
      <%= link_to "Go to full list", articles_path, class: "inline_block button_template transparent_button" %>
    <div>

  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">

        <iframe id="video_modal" width="100%" height="100%" src="https://www.youtube.com/embed/ARKBmV_WND0" frameborder="0" allowfullscreen autoplay></iframe>

      </div>

    </div>
  </div>
</div>
