<section class="top_full_block">
  <div class="container animated fadeInUp">
    <div class="col-sm-12 no_side_padding top_title padding_top_50px">
      Write It Well Academy
    </div>

    <div class="col-sm-12 no_side_padding top_sub_title">
      We have 35 years’ consulting and training experience, and we’ve seen myriad ways that communication skills can strengthen leadership, teamwork, problem solving, and project management. Get in touch to hear about leadership communication’s ROI.
    </div>

    <div class="col-sm-12 text-center padding_top_40px">
      <a href="#first-section" class="inline_block vcenter button_template black_buttton">
        Learn more
      </a>

      <a href="#contact_us" class="inline_block vcenter button_template transparent_button margin_left_10px">
        Contact Us
      </a>
    </div>

  </div>

  <span class="hero-down-arrow">
    <a href="#first-section"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
  </span>
</section>

<section id="first-section" class="padding_top_70px padding_bottom_90px">
  <div class="container">
    <div class="col-sm-12 no_side_padding padding_bottom_50px">
      <span class="block big_title">
        Explore our topics
      </span>

      <span class="block text-center testimonial_subtitle padding_top_20px">
        They all build or deepen measurable, job-relevant communication skills.
      </span>
    </div>

    <div class="col-sm-12 no_side_padding padding_top_40px mobile_padding_top_0px topic_list_container mobile_block">
      <div class="topic_container">
        <div class="">
          <span class="block">
            <%= image_tag("business.png", class: "center_image") %>
          </span>

          <span class="block padding_top_20px topic_name">
            Writing at Work
          </span>

          <span class="block padding_top_10px topic_desc">
            Plan and draft effective documents to match any business need and advance your professional goals.
          </span>
        </div>
      </div>

      <div class="topic_container">
        <div class="">
          <span class="block">
            <%= image_tag("presentations.png", class: "center_image") %>
          </span>

          <span class="block padding_top_20px topic_name">
            Presentation Skills
          </span>

          <span class="block padding_top_10px topic_desc">
            Plan, practice, and deliver an effective presentation on any business topic.
          </span>
        </div>
      </div>

      <div class="topic_container">
        <div class="">
          <span class="block">
            <%= image_tag("performance.png", class: "center_image") %>
          </span>

          <span class="block padding_top_20px topic_name">
            Writing Performance Reviews
          </span>

          <span class="block padding_top_10px topic_desc">
            Meet definite criteria for clear, specific, effective documentation to use in today’s workplace.
          </span>
        </div>
      </div>
    </div>

    <div class="col-sm-12 no_side_padding padding_top_70px topic_list_container mobile_padding_top_0px
mobile_block">
      <div class="topic_container">
        <div class="">
          <span class="block">
            <%= image_tag("email.png", class: "center_image") %>
          </span>

          <span class="block padding_top_20px topic_name">
            Effective Email
          </span>

          <span class="block padding_top_10px topic_desc">
            Use email to save time, advance your business needs, and help your readers grasp your point.
          </span>
        </div>
      </div>

      <div class="topic_container">
        <div class="">
          <span class="block">
            <%= image_tag("reports.png", class: "center_image") %>
          </span>

          <span class="block padding_top_20px topic_name">
            Reports and Proposals
          </span>

          <span class="block padding_top_10px topic_desc">
            Custom-tailor an effective cover letter and resume to the overlap between your professional biography and one organization's hiring needs.
          </span>
        </div>
      </div>

      <div class="topic_container">
        <div class="">
          <span class="block">
            <%= image_tag("resumes.png", class: "center_image") %>
          </span>

          <span class="block padding_top_20px topic_name">
            Custom writing and communication topics
          </span>

          <span class="block padding_top_10px topic_desc">
            Custom-tailor an effective cover letter and resume to the overlap between your professional biography and one organization's hiring needs.
          </span>
        </div>
      </div>
    </div>

    <div class="col-sm-12 no_side_padding padding_top_80px mobile_padding_top_30px">
      <span class="block text-center font_size_30px font_weight_semi_bold">
        We deliver training, coaching, webinars, and blended solutions.
      </span>

      <span class="block text-center testimonial_subtitle padding_top_20px">
        All workshops are customized, please drop us a line!
      </span>

      <span class="block text-center padding_top_40px">
        <a href="#contact_us" class="inline_block button_template transparent_button">
          Get in Touch
        </a>
      </span>
    </div>
  </div>
</section>
