<section class="top_full_block">
  <div class="container">
    <div class="col-sm-12 text-center">

      <div class="btn-group">
        <span class="block big_title">Log in</span>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "padding_top_30px" }) do |f| %>
          <div class="field">
            <%= f.label :email, class: "font_size_20px font_weight_semi_bold" %><br />
            <%= f.email_field :email, autofocus: true, class: "log_in_input" %>
          </div>

          <div class="field padding_top_20px">
            <%= f.label :password, class: "font_size_20px font_weight_semi_bold" %><br />
            <%= f.password_field :password, autocomplete: "off", class: "log_in_input" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field padding_top_20px">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, class: "font_size_16px font_weight_semi_bold" %>
            </div>
          <% end -%>

          <div class="actions padding_top_40px padding_bottom_20px">
            <%= f.submit "Log in", class: "button_template transparent_button" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</section>
