<div class="col-sm-8 col-sm-offset-2 text-center">
  <div class="text-left">
    <%= link_to "Back", admin_courses_path, class: "admin_article_back" %>
  </div>
</div>

<div class="col-sm-8 col-sm-offset-2 padding_top_30px">
  <%= simple_form_for [:admin, @course] do |f| %>

    <%= f.input :title, label: "Course title"  %>
    <%= f.input :description, label: "Description", input_html: {class: "courses_description_input"} %>
    <%= f.input :book, label: "Book Name"  %>
    <%= f.input :book_link, label: "Book Link"  %>
    <%= f.input :onsite, label: "Onsite"  %>
    <%= f.input :webinar, label: "Webinar"  %>

    <% if @course.icon.present? %>
      <%= image_tag @course.icon.url, alt: "Course Icon", class: "portfolio_logo margin_top_20px margin_bottom_20px" %>
    <% end %>

    <div class="col-sm-12 padding_top_20px padding_bottom_20px no_side_padding">
      <%= f.input :icon, as: :file, label: "Course Icon" %>
    </div>

    <div class="col-sm-12 padding_top_20px padding_bottom_20px no_side_padding">
      <%= f.input :pdf, as: :file, label: "Course PDF" %>
    </div>

    <div class="col-sm-12 padding_bottom_20px no_side_padding">
      <%= f.submit "Save", class: "btn btn-default btn-success" %>
    </div>

  <% end %>
</div>
