<!DOCTYPE html>
<html>
  <head>
    <title>Adcom Designs</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <!--End mc_embed_signup-->

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>

    <meta name=viewport content="width=device-width, initial-scale=1">
  </head>
  <body>

    <nav>
      <div class="navbar top_nav padding_top_20px padding_bottom_20px <%= params[:action] == 'new_homepage' ? 'top_nav' : '' %>">

        <div class="col-sm-12 no_side_padding">
          <div class="col-sm-4 padding_left_60px top_nav_left">
            <span class="inline_block vcenter">
              <%= link_to root_url do %>
                <%= image_tag("adcom_logo_square.png", class: "top_nav_logo_image") %>
              <% end %>
            </span>

            <!-- <span class="inline_block top_nav_logo_text">
              AdCom Designs
            </span> -->
          </div>

          <div class="col-sm-8 padding_top_25px padding_right_30px menu_container">
            <ul class="list-inline pull-right top_nav_list">
              <li>
                <%= link_to "AdCom Designs", adcomdesigns_path, class: "top_nav_link" %>
              </li>

              <li>
                <%= link_to "Write it Well", write_it_well_path, class: "top_nav_link" %>
              </li>

              <li>
                <%= link_to "Portfolio", new_homepage_path(anchor: "portfolio"), class: "top_nav_link" %>
              </li>

              <li>
                <%= link_to "Contacts", new_homepage_path(anchor: "contact_us"), class: "top_nav_link active" %>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-sm-12 navbar_toogle_container mobile_width_100 text-center mobile_padding_top_10px">
          <div class="btn-group">
            <button type="button" class="navbar-toggle collapsed margin_top_0px" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>

        <div id="navbar-collapse" class="col-sm-12 text-center mobile_menu_container collapse navbar-collapse mobile_width_100">

          <button type="button" class="navbar-toggle margin_top_0px cross_toggle" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="true">
            <i class="fa fa-times font_size_44px" aria-hidden="true"></i>
          </button>

          <ul class="nav navbar-nav navbar-list font_size_16px">
            <li class="padding_top_10px">
              <%= link_to "AdCom Designs", adcomdesigns_path, class: "top_nav_link" %>
            </li>

            <li class="padding_top_10px">
              <%= link_to "Write it Well", write_it_well_path, class: "top_nav_link" %>
            </li>

            <li class="padding_top_10px">
              <%= link_to "Portfolio", new_homepage_path(anchor: "portfolio"), class: "top_nav_link" %>
            </li>

            <li class="padding_top_10px">
              <%= link_to "Contacts", new_homepage_path(anchor: "contact_us"), class: "top_nav_link active" %>
            </li>
          </ul>
        </div>

        <div class="clearfix"></div>
      </div>
    </nav>

    <%= yield %>

    <section id="contact_us" class="padding_top_70px padding_bottom_70px top_block_border">
      <div class="container">
        <div class="col-sm-12 no_side_padding contacts_form_container">
          <div class="col-sm-6">
            <div class="col-sm-12 no_side_padding">
              <span class="block big_title textalign-left">Drop Us A Line</span>

              <span class="block text-center testimonial_subtitle padding_top_20px textalign-left">
                We welcome you to contact us for more information
                <br>
                about any of our products or services.
              </span>
            </div>

            <div class="col-sm-12 no_side_padding padding_top_50px">
              <%= form_for @message, :url => message_path do |f| %>
                <div class="form-group">
                  <label for="message_name" class="contacts_label">Your Name (required)</label>
                  <input type="text" name="message[name]" class="form-control contacts_input" id="message_name">
                </div>

                <div class="form-group padding_top_10px">
                  <label for="message_email" class="contacts_label">Your Email (required)</label>
                  <input type="email" name="message[email]" class="form-control contacts_input" id="message_email">
                </div>

                <div class="form-group padding_top_10px">
                  <label for="message_phone" class="contacts_label">Phone number</label>
                  <input type="text" name="message[phone]" class="form-control contacts_input" id="message_phone">
                </div>

                <div class="form-group padding_top_10px">
                  <label for="message_message" class="contacts_label">Your question (required)</label>
                  <textarea class="form-control contacts_input" rows="5" name="message[message]" id="message_message" style="height: 110px;"></textarea>
                </div>

                <button type="submit" class="send_message_submit see_all_button green_background margin_top_15px">Send</button>
              <% end %>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="col-sm-12 no_side_padding text-center">
              <span class="block">
                <%= image_tag("location.png", class: "contacts_location_icon") %>
              </span>

              <span class="block contacts_location_title">
                Visit us
              </span>

              <span class="block contacts_location_text">
                 San Francisco Bay Area
              </span>
            </div>

            <div class="col-sm-12 no_side_padding padding_top_70px text-center">
              <span class="block">
                <%= image_tag("mail.png", class: "contacts_location_icon") %>
              </span>

              <span class="block contacts_location_title">
                Mail us
              </span>

              <span class="block contacts_location_text">
                natasha@adcomdesigns.com
              </span>
            </div>

            <div class="col-sm-12 no_side_padding padding_top_70px text-center">
              <span class="block">
                <%= image_tag("phone.png", class: "contacts_location_icon") %>
              </span>

              <span class="block contacts_location_title">
                Call us
              </span>

              <span class="block contacts_location_text">
                (510) 655-6477
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="new_footer">
      <div class="container">
        <div class="col-sm-12 no_side_padding footer_blocks_container">
          <div class="col-sm-4">
            <span class="block">
              <%= link_to root_url do %>
                <%= image_tag("adcom_logo_square.png", class: "top_nav_logo_image") %>
              <% end %>
            </span>

            <span class="block font_size_16px grey_text padding_top_30px">
              <span class="inline_block footer_icon vcenter">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </span>

              <span class="inline_block vcenter">
                San Francisco Bay Area
              </span>
            </span>

            <span class="block font_size_16px grey_text padding_top_10px">
              <span class="inline_block footer_icon vcenter">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </span>

              <span class="inline_block vcenter">
                natasha@adcomdesigns.com
              </span>
            </span>

            <span class="block font_size_16px grey_text padding_top_10px">
              <span class="inline_block footer_icon vcenter">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </span>

              <span class="inline_block vcenter">
                (510) 655-6477
              </span>
            </span>
          </div>

          <div class="col-sm-4 text-center">
            <span class="block">
              <%= link_to "AdCom Designs", adcomdesigns_path, class: "footer_link" %>
            </span>

            <span class="block padding_top_20px">
              <%= link_to "Write it Well", write_it_well_path, class: "footer_link" %>
            </span>

            <span class="block padding_top_20px">
              <%= link_to "Portfolio", new_homepage_path(anchor: "portfolio"), class: "footer_link" %>
            </span>

            <span class="block padding_top_20px">
              <%= link_to "Contacts", new_homepage_path(anchor: "contact_us"), class: "footer_link" %>
            </span>
          </div>

          <div class="col-sm-4">
            <span class="block padding_bottom_30px">
              <ul class="list-inline text-center footer_social_list">
                <li>
                  <%= link_to "#" do %>
                    <i class="fa fa-twitter footer_social_icon"></i>
                  <% end %>
                </li>

                <li>
                  <%= link_to "#" do %>
                    <i class="fa fa-facebook footer_social_icon"></i>
                  <% end %>
                </li>

                <li>
                  <%= link_to "#" do %>
                    <i class="fa fa-youtube footer_social_icon"></i>
                  <% end %>
                </li>
              </ul>
            </span>

            <span class="block padding_top_30px footer_created_by text-center">
              Created by <a href="http://gnotov.com" class="footer_create_by_link">gnotov.<span class="footer_create_by_green">com</span></a>
            </span>
          </div>
        </div>
      </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body">

            <iframe id="video_modal" width="100%" height="100%" src="https://www.youtube.com/embed/ARKBmV_WND0?autoplay=1" frameborder="0" allowfullscreen autoplay></iframe>

          </div>

        </div>
      </div>
    </div>

    <%= javascript_include_tag 'application' %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-62900124-1', 'auto');
      ga('send', 'pageview');
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

  </body>
</html>
